# Copy to .env and fill real values (do NOT commit .env)
DATABASE_URL=postgresql://...
JWT_SECRET=super-secret
JWT_EXPIRES_IN=15m
REFRESH_EXPIRES_DAYS=30

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
TWILIO_API_KEY_SID=
TWILIO_API_KEY_SECRET=
TWILIO_CONVERSATIONS_SERVICE_SID=
TWILIO_TWIML_APP_SID=

APP_NAME="Hage Logistics"
APP_URL="http://localhost:3000"
API_PREFIX=/api
SWAGGER_SERVER_URLS="https://hage-backend.onrender.com,https://api.tryhage.com"
APP_LOGO="https://res.cloudinary.com/doam8l8j9/image/upload/v1760557572/hage_logo_1_vkocjc.png"

MAIL_HOST=live.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

NODE_ENV=development
PORT=3000
